NODE_ENV = 'development'

PORT = 8081

DB_URI = "mongodb://localhost:27017/team_14_db"

#! cloudinary 
CLOUDINARY_CLOUD_NAME = 'cloud_name'
CLOUDINARY_API_KEY = ''
CLOUDINARY_API_SECRET = ''

#! JWT 
JWT_SECRET = "jwt-secret"
JWT_EXPIRES_IN = '7d'



#! cookies


#! email / node mailer
SMTP_HOST = 'smtp.gmail.com'
SMTP_SERVICE = 'gmail'
SMTP_PORT = 587
SMTP_USER = 'your-email@gmail.com'
SMTP_PASS = 'your_app_password'
SMTP_MAIL_FROM = "your-app-name <your-email@gmail.com>"