NODE_ENV = 'development'

PORT = 8081

DB_URI = "mongodb://localhost:27017/team_14_db"

#! cloudinary 
CLOUDINARY_CLOUD_NAME = 'cloud_name'
CLOUDINARY_API_KEY = ''
CLOUDINARY_API_SECRET = ''

#! JWT 


#! cookies


#! email / node mailer